body {
    background-image: url(images/Space.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {

}

#logo {

}

#about {

}

#contact {

}

#portfolio {

}

#gallery {

}

#ring {

}
