body {
    margin: 0px;
    background-image: url(images/NewSpace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
#headercontainer {
    display: flex;
    width: 100%;
        justify-content: center;

}

#header {
    top: -200px;
    width: 800px;
    z-index: 10;
}

#ring {
   margin-top: 210px;
    z-index: -1;
}

#logo {
    z-index: 10;
    margin-left: 250px;
    margin-top: -330px;
}

#about {
    margin-top: -130px;
    margin-left: 107px;
}

#contact {
    margin-top: 12px;
    margin-left: 16px
}

#portfolio {
    margin-top: -360px;
    margin-left: 660px;
}

#gallery {
    margin-top: 44px;
    margin-left: 530px;
}


h1 {
    position: relative;
    bottom: -199px;
}


#preview {
    position: relative;
   bottom: -200px;
}

.nav-flex {


}

.btn {
    border: none;
    background-color: inherit;
    display: inline-block;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
     border-radius: 50%;
     -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: royalblue;
}

.home {
    color: rgb(216, 158, 199);
    background-color: rgb(0, 160, 254);
}

.home:hover {
    background-color: rgb(143, 143, 143);
    opacity: 0.6;
    cursor: not-allowed;
}

.about {
    color: rgb(36, 102, 136);
    background-color: rgb(251, 160, 255);
}

.about:hover {
    background-color: rgb(243, 21, 255);
}

.contact {
    color: rgb(213, 233, 208);
    background-color: rgb(0, 193, 255);
}

.contact:hover {
    background-color: rgb(0, 98, 130);
}

.gallery {
    color: rgb(147, 215, 234);
    background-color: rgb(131, 160, 254);
}

.gallery:hover {
    background-color: rgb(0, 98, 130);
}

.top {
    color: rgb(255, 255, 255);
    background-color: rgb(186, 161, 255);
}

.top:hover {
    background-color: rgb(24, 0, 83);
}

.list {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 250px;
}

/*Small Screen*/

@media only screen and (max-width: 700px){

    #body {
        margin: 0px;
        width: 700px;
        background-image:url(images/NewSpace.png);
        background-repeat: no-repeat;
    2}


    #logo {
        position: static;
        width: 150px;
        height: auto;
        right: 50%;
        left: 50%;
    }

    #ring {
        position: static;
        width: 150px;
        height: auto;

    }

    #static {
        position: static;
    }

}


















