#page1 {
    margin: 0px;
    background-image: url(images/NewSpace.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
    #headercontainer {
        display: flex;
        max-width: 100%;
        height: auto;
        justify-content: center;

}
    #header {
    top: -200px;
    width: 800px;
    z-index: 10;
}
    #ring {
    margin-top: 210px;
    z-index: -1;
    -webkit-animation: spin 5s infinite;
    -moz-animation: spin 5s infinite;
    -o-animation: spin 5s infinite;
    animation: spin 5s infinite;
}
    #logo {
    z-index: 10;
    margin-left: 250px;
    margin-top: -330px;
}
    #about {
    margin-top: -130px;
    margin-left: 107px;
    transition: transform .8s;
    z-index: 10;
}
    #about:hover {
    transform: scale(1.2);
}
    #contact {
    margin-top: 12px;
    margin-left: 16px;
    transition: transform .8s;
}
    #contact:hover {
    transform: scale(1.2)
}
    #portfolio {
    margin-top: -360px;
    margin-left: 660px;
    transition: transform .8s;
}
    #portfolio:hover {
    transform: scale(1.2);

}
    #gallery {
    margin-top: 44px;
    margin-left: 530px;
    transition: transform .8s;
}
    #gallery:hover {
    transform: scale(1.2);
}
    #page1 h1 {
    position: relative;
    bottom: -199px;
}
        #page1 .nav-flex {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
}
        #page1 .btn {
            border: none;
            background-color: inherit;
            display: inline-block;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: 0.4s;
            transition-duration: 0.4s;
}
        #page1 .btn:hover {
            background-color: royalblue;
}
        #page1 .about {
            color: rgb(216, 158, 199);
            background-color: rgb(0, 160, 254);
}
        #page1 .about:hover {
            background-color: rgb(0, 79, 125);
            opacity: 0.6;
}
        #page1 .contact {
            color: rgb(36, 102, 136);
            background-color: rgb(251, 160, 255);
}
        #page1 .contact:hover {
            background-color: rgb(243, 21, 255);
            opacity: 0.6;
}
        #page1 .gallery {
            color: rgb(213, 233, 208);
            background-color: rgb(0, 193, 255);
}
        #page1 .gallery:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page1 .portfolio {
            color: rgb(147, 215, 234);
            background-color: rgb(131, 160, 254);
}
        #page1 .portfolio:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page1 .top {
            color: rgb(255, 255, 255);
            background-color: rgb(186, 161, 255);
}
        #page1 .top:hover {
            background-color: rgb(24, 0, 83);
            opacity: 0.6;
}
        #page1 .list {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 750px;
}

    /*Small Screen for Page 1 (Home Page)*/

@media only screen and (max-width: 500px){
    #page1 {
        margin: 0px;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        height: auto;
    }
}
    /*Start of Page 2 (About Page)*/

#page2 {
    background-color: rgb(166, 194, 206);
}
#page2 h1 {
    position: relative;
    top: 30px;
}
    #page2 .resize{
        position: static;
        top: 70px;
        width: 400px;
        height: 224px;
        pointer-events: none;
        padding: 10px;
}
    #text {
        position: relative;
        top: 100px

}
    #page2 .btn {
        border: none;
        background-color: inherit;
        display: inline-block;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50%;
        transition-duration: 0.4s;
        transition-duration: 0.4s;
}
    #page2 .btn:hover {
        background-color: rgb(18, 150, 206);
}
    #page2 .btn {
        border: none;
        background-color: inherit;
        display: inline-block;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
}
    #aboutlogo {
        background-color: rgb(39, 103, 137);
}
    #smallpics {
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 200px;
}
    #page2 .list {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 400px;
}
    #textcolumns {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        top: 250px;

}
    #page2 p {
        padding: 20px;
}
    #page2 h2 {
    position: absolute;
    top: 80px
}
        #page2 .home {
            color: rgb(216, 158, 199);
            background-color: rgb(0, 160, 254);
}
        #page2 .home:hover {
            background-color: rgb(0, 79, 125);
            opacity: 0.6;
}
        #page2 .contact {
            color: rgb(36, 102, 136);
            background-color: rgb(251, 160, 255);
}
        #page2 .contact:hover {
            background-color: rgb(243, 21, 255);
            opacity: 0.6;
}
        #page2 .gallery {
            color: rgb(213, 233, 208);
            background-color: rgb(0, 193, 255);
}
        #page2 .gallery:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page2 .portfolio {
            color: rgb(147, 215, 234);
            background-color: rgb(131, 160, 254);
}
        #page2 .portfolio:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page2 .top {
            color: rgb(255, 255, 255);
            background-color: rgb(186, 161, 255);
}
        #page2 .top:hover {
            background-color: rgb(24, 0, 83);
            opacity: 0.6;
}

    /*Small Screen for Page 2 (About Page)*/

@media only screen and (max-width: 700px) {}

    /*Start of Page 3 (Contact Page)*/

#page3 {
    background-color: rgb(238, 246, 236);
}
    #contactlogo {
        background-color: rgb(212, 233, 208);
}
    #page3 .btn {
        border: none;
        background-color: inherit;
        display: inline-block;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
}
    #textrow {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        top: 250px;
        color: black;
}
    #page3 p {
        padding: 10px;
}
    #page3 h2 {
    position: relative;
    top: 40px;
}
    #page3 .container {
        position: relative;
        top: 50px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
}
    #page3 input[type=submit]:hover {
        background-color: #45a049;
}
    #page3 input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
    #page3 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
    #portrait {
        position: relative;
        top: 140px;
}
        #page3 .btn:hover {
            background-color: rgb(0, 79, 125);
            opacity: 0.6;
}
        #page3 .btn {
            border: none;
            background-color: inherit;
            display: inline-block;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: 0.4s;
            transition-duration: 0.4s;
}
        #page3 .home {
            color: rgb(216, 158, 199);
            background-color: rgb(0, 160, 254);
}
        #page3 .home:hover {
            background-color: rgb(0, 79, 125);
            opacity: 0.6;
}
        #page3 .about {
            color: rgb(36, 102, 136);
            background-color: rgb(251, 160, 255);
}
        #page3 .about:hover {
            background-color: rgb(243, 21, 255);
            opacity: 0.6;
}
        #page3 .gallery {
            color: rgb(213, 233, 208);
            background-color: rgb(0, 193, 255);
}
        #page3 .gallery:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page3 .portfolio {
            color: rgb(147, 215, 234);
            background-color: rgb(131, 160, 254);
}
        #page3 .portfolio:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page3 .top {
            color: rgb(255, 255, 255);
            background-color: rgb(186, 161, 255);
}
        #page3 .top:hover {
            background-color: rgb(24, 0, 83);
            opacity: 0.6;
}
        #page3 .list {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 400px;
}


    /*Small Screen for Contact Pg*/

@media only screen and (max-width: 700px) {}

    /*Start of Page 4 (Gallery Page)*/

#page4 {
    background-color: rgb(211, 238, 247);
    margin: 0;
}
    #gallerylogo {
        background-color: rgb(146, 214, 233);
}
    #page4 .column {
        float: left;
        width:
}
    #page4 .header {
        text-align: center;
        padding: 32px;
}
    * {
        box-sizing: border-box;
}
    #page4 .column {
        float: left;
        width: 50%;
        padding: 10px;
}
    #page4 .column img {
        margin-top: 12px;
}
    #page4 .row:after {
        content: "";
        display: table;
        clear: both;
}
    #page4 .row {}
        #page4 .btn {
            border: none;
             background-color: inherit;
            display: inline-block;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: 0.4s;
            transition-duration: 0.4s;
}
        #page4 .home {
            color: rgb(216, 158, 199);
            background-color: rgb(0, 160, 254);
}
        #page4 .home:hover {
            background-color: rgb(0, 79, 125);
            opacity: 0.6;
}
        #page4 .about {
            color: rgb(36, 102, 136);
            background-color: rgb(251, 160, 255);
}
        #page4 .about:hover {
            background-color: rgb(243, 21, 255);
            opacity: 0.6;
}
        #page4 .contact {
            color: rgb(213, 233, 208);
            background-color: rgb(0, 193, 255);
}
        #page4 .contact:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page4 .portfolio {
            color: rgb(147, 215, 234);
            background-color: rgb(131, 160, 254);
}
        #page4 .portfolio:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page4 .top {
            color: rgb(255, 255, 255);
            background-color: rgb(186, 161, 255);
}
        #page4 .top:hover {
            background-color: rgb(24, 0, 83);
            opacity: 0.6;
}
        #page4 .list {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 800px;
}


    /*Small Screen for Gallery Pg*/

@media only screen and (max-width: 700px) {}

    /*Start of Page 5 (Portfolio Page)*/

#page5 {
    background-color: rgb(238, 215, 233);
}
    #portfoliologo {
        background-color: rgb(215, 159, 198);
}
    #page5 .main {
        max-width: 1000px;
        margin: auto;
}
    #page5 h2 {
        font-size: 30px;
        word-break: break-all;
        position: relative;
        top: 100px;
}
    #page5 .row {
        margin: 8px -16px;
        position: relative;
        top: 160px;
}
    #page5 .column {
        float: left;
        width: 25%;
}
    #page5 .row:after {
        content: "";
        display: table;
        clear: both;
}
    #page5 .content {
        background-color: white;
        padding: 10px;
}
    #page5 .test {
        position: relative;
}
    #BandedMarbles {
        position: static;
        width: 720px;
        height: 480px;
}
    #Blocks {
    position: static;
    width: 100px;
    height: 244px;
}
    #blocksntext {
        position: static;
        margin-top: 106px;
        margin-bottom: 146px;
}
    #Apple {
        position: static;
        width: 720px;
        height: 480px;
}
    #applentext {
        position: static;
        margin-top: 18px;
}
    #NewSpace {
        position: static;
        width: 720px;
        height: 480px;
}
        #page5 .btn {
            border: none;
            background-color: inherit;
            display: inline-block;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: 0.4s;
            transition-duration: 0.4s;
}
        #page5 .info {
            position: relative;
            top: 130px;

}
        #page5 .home {
            color: rgb(216, 158, 199);
            background-color: rgb(0, 160, 254);
}
        #page5 .home:hover {
            background-color: rgb(0, 79, 125);
            opacity: 0.6;
}
        #page5 .about {
            color: rgb(36, 102, 136);
            background-color: rgb(251, 160, 255);
}
        #page5 .about:hover {
            background-color: rgb(243, 21, 255);
            opacity: 0.6;
}
        #page5 .contact {
            color: rgb(213, 233, 208);
            background-color: rgb(0, 193, 255);
}
        #page5 .contact:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page5 .gallery {
            color: rgb(147, 215, 234);
            background-color: rgb(131, 160, 254);
}
        #page5 .gallery:hover {
            background-color: rgb(0, 98, 130);
            opacity: 0.6;
}
        #page5 .top {
            color: rgb(255, 255, 255);
            background-color: rgb(186, 161, 255);
}
        #page5 .top:hover {
            background-color: rgb(24, 0, 83);
            opacity: 0.6;
}
        #page5 .list {
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 800px;
}
            {box-sizing: border-box;}

        /*Small Screen for Portfolio Page*/

@media screen and (max-width: 900px) {
.column {width: 50%;}}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
