body {
    background-color: rgb(211, 238, 247);
}


#gallerylogo {
    background-color: rgb(146, 214, 233);
}


.btn {
    border: none;
    background-color: inherit;
    display: inline-block;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
     -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.home {
    color: rgb(216, 158, 199);
    background-color: rgb(0, 160, 254);
}

.home:hover {
   background-color: rgb(0, 79, 125);
}

.about {
    color: rgb(36, 102, 136);
    background-color: rgb(251, 160, 255);
}

.about:hover {
    background-color: rgb(243, 21, 255);
}

.contact {
    color: rgb(213, 233, 208);
    background-color: rgb(0, 193, 255);
}

.contact:hover {
    background-color: rgb(0, 98, 130);
}

.gallery {
    color: rgb(147, 215, 234);
    background-color: rgb(131, 160, 254);
}

.gallery:hover {
     background-color: rgb(143, 143, 143);
    opacity: 0.6;
    cursor: not-allowed;
}

.top {
    color: rgb(255, 255, 255);
    background-color: rgb(186, 161, 255);
}

.top:hover {
    background-color: rgb(24, 0, 83);
}

.list {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 800px;
}











